.Menu{
  display: flex;
  position: relative;
  min-width: 100px;
  min-height: 20px;
  background: #e51414;
  justify-content: space-between;
  flex-direction: row;

}


.Menu__Button{
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  background-image: url('http://localhost:3666/images/icons/chevron-down.svg');
}
