.MapComponent{
  width: 100%;
  min-height: 500px;
  display: block;
  position: relative;
}

.MapContainer{
  width: 100%;
  min-height: 500px;
  height: 100vh;
  display: block;
  position: relative;
}

.iconImg{

}

.iconImgText{
  display: block;
  position: absolute;
  top: 1px;
  background: red;
}
