.MapComponent{
  width: 100%;
  min-height: 500px;
  display: block;
  position: relative;
}

.MapContainer{
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 70px);
  display: block;
  position: relative;
}

.iconImg{
  pointer-events: auto;
/*  background: #06c28d;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconImgText{
  display: block;
  position: absolute;
  top: 1px;
  background: red;
}

.circle_icon{
  border: 1px solid blueviolet;
  background-color: yellow;
}

.feather{
  display: flex;
  position: absolute;
  top: 22px;
  left: 22px;
  border: 1px solid green;
}
